/* Main stuff*/
@import url(/public/shared/main.css);
@import url(/public/shared/pop_up_settings/pop_up_settings.css);
@import url(/public/shared/navbar_and_sidebar/navbar_and_sidebar.css);
@import url(/public/shared/footer/footer.css);
@import url(/public/shared/back_to_top_button/back_to_top_button.css);
body {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'navbar'
  'main'
  'footer';
}
main {
  padding: 1rem;
  grid-area: main;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Stuff in main */

.privacy-container {
  background-color: var(--back);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
  gap: 1.5rem;
}

h1 {
  margin-bottom: 2.5rem;
  color: var(--dark-text-color);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 28px;
  color: var(--dark-text-color);
}

main p {
  color: var(--dark-text-color);
  font-weight: 400;
  margin-bottom: 1rem;
}

.sub-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid var(--dark-text-color);
  border-radius: 100vh;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-color);
  padding: 7px 1rem;
  background-color: var(--hover-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

#delete-cookie {
  background-color: var(--gmail-color);
}

main hr {
  width: 100%;
  border: 1px solid var(--gray-between);
  border-radius: 100vh;
}

.sub-div {
  padding: 2rem;
  box-shadow: var(--gray-between) 0px 1px 5px 0px;
  border-radius: 10px;
}

@media (hover:hover) {
  .sub-button:hover {
    background-color: var(--dark-hover-color);
  }

  #delete-cookie:hover {
    background-color: var(--dark-red);
  }
}

@media (max-width: 1060px) {
  .privacy-container {
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
  }

  h1, h2 {
    text-align: left;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .sub-button {
    margin: 0.5rem;
    margin-left: 0;
  }

  main div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}