/* Footer stuff */
footer {
  width: 100%;
  grid-area: footer;
  height: auto;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer {
  width: 100vw;
  display: flex;
  height: auto;
  background: var(--footer-background); 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  border-top: 2px solid var(--nav-border);
  padding: 1rem;
}

.privacy-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: transparent;
  padding: 1rem;
  padding-top: 0.5rem;
  text-align: center;
}

.important-text, .privacy-warning label {
  display: inline;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
}

.privacy-warning a {
  color: var(--hover-color);
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.privacy-warning a:visited {
  color: var(--hover-color);
}

.contact-and-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  background-color: transparent;
  padding-top: 0.5rem;
}

.socials-container {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
  align-items: center;
  height: auto;
  border-bottom: 2px solid var(--gray-between);
}

.socials-container a svg, .socials-container p svg {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background-color: transparent;
  vertical-align: middle;
  transition: all 0.3s ease;
  fill: var(--dark-text-color);
}

.socials-container a {
  cursor: pointer;
  text-underline-offset: 5px;
}

.socials-container a, .socials-container p {
  background-color: transparent;
  color: var(--dark-text-color);
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 400;
}

.logo-container {
  height: 40%;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-top: 0.5rem;
}

.dark-logo-footer {
  width: 200px;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 896px) {
  .socials-container {
    flex-direction: column;
    gap: 1.5rem;
    border: none;
  }

  .logo-container {
    display: none;
  }
}

@media (hover:hover) {
  .dark-logo-footer:hover {
    transform: scale(1.1);
  }

  .socials-container a:hover, .socials-container p:hover {
    transform: scale(1.1);

    .insta-icon {
      fill: var(--insta-color);
      transform: scale(1.1);
    }

    .tiktok-icon {
      fill: var(--tiktok-color);
      transform: scale(1.1);
    }

    .gmail-icon {
      fill: var(--gmail-color);
      transform: scale(1.1);
    }
  }
}

