html, body {
  overflow-x: hidden;
}

/* Art containers and stuff inside it */

.art-container {
  padding: 1em;
  box-shadow: var(--gray-between) 0.01px 1px 4px 0px;
  background-color: var(--light-gray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
  
.name-and-author, .specifications, .price-and-like, .beginning-price, .amount-of-likes {
  background-color: transparent;
}

.name-and-author, .specifications, .amount-of-likes, .beginning-price {
  color: var(--dark-text-color);
}

.name-and-author {
  font-weight: 550;
  font-size: 22px;
  text-align: center;
}

.art-container hr {
  height: 2px;
  background: var(--gray-between);
  font-size: 0;
  border: 0;
  width: 250px;
  border-radius: 100vh;
}

.specifications, .beginning-price, .post-rating-count {
  font-size: 16px;
  font-weight: 425;
  background-color: transparent;
}

.price-and-like {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard */
}

.save-work {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.save-work svg {
  fill: var(--dark-text-color);
  background-color: transparent;
  transition: all 0.2s ease;
}

.save-work span {
  background-color: transparent;
  color: var(--dark-text-color);
}

.post-ratings-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  background-color: transparent;
}

.post-rating {
  display: flex;
  align-items: center;
  cursor: default;
  gap: 5px;
  background-color: transparent;
}

.post-rating-button {
  cursor: pointer;
  color: var(--dark-text-color);
  background-color: transparent;
  scale: 0.9;
  vertical-align: middle;
  margin-bottom: 2px;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.post-rating-count {
  transition: all 0.2s ease;
  width: 30px;
}

.selected > .post-rating-button,
.selected > .post-rating-count {
  color: var(--gmail-color);
  fill: var(--gmail-color);
}

@media (hover:hover) {
  .post-rating:not(.post-rating.selected) > .post-rating-button:hover {
    color: var(--black);
  }

  .art-container:hover {
    transform: scale(1.01);
  }

  .load-more-btn:hover {
    background-color: var(--dark-hover-color);
  }
}

.art-pic {
  width: 280px;
  height: 280px;
  object-fit: contain;
  background-color: var(--black);
  cursor: pointer;
}

.invisible {
  opacity: 0;
  transition: opacity 0.5s, transform 0.3s ease;
}

.visible {
  opacity: 1;
}


/* The sorting bar above main */

.sorting-bar {
  grid-area: sort;
  height: 50px;
  width: 100%;
  background-color: var(--back);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.search-bar {
  width: 40px;
  height: 40px;
  border: 2px solid var(--dark-text-color);
  border-radius: 100vh;
  background-color: var(--back);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: 2px;
  overflow: hidden;
  position: relative;
}

.search-bar-input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-text-color);
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 40px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

::placeholder {
  color: var(--place-holder-color);
  opacity: 1;
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--place-holder-color);
}

.search-bar-submit {
  padding: 3px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 100vh;
  margin-left: auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-bar-submit svg {
  vertical-align: middle;
  fill: var(--dark-text-color);
  background-color: transparent;
}

.search-bar:focus-within {
  width: 250px;
  position: fixed;

  .search-bar-submit {
    background-color: var(--light-gray);
  }

  .search-bar-input {
    opacity: 1;
    cursor: initial;
    width: calc(100% - 38px);
    padding-left: 0.5em;
  }

  @media (hover:hover) {
    .search-bar-submit:hover {
      background-color: var(--gray-between);
    }
  }
}

.show-sorting {
  display: flex;
  gap: 0.25rem;
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-text-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.show-sorting svg {
  fill: var(--dark-text-color);
  vertical-align: middle;
  transition: all 0.1s ease;
}

.sorting-options {
  display: none;
  position: absolute;
  height: auto;
  right: 0;
  top: 130px;
  flex-direction: column;
  gap: 20px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--nav-background);
  margin-right: 1em;
  opacity: 1;
  transition: opacity 0.2s ease;
  box-shadow: var(--gray-between) 0.01px 1px 4px 0px;
}

.sorting-options.display {
  display: flex;
}

@media (max-width: 1085px) {
  .sorting-options {
    top: 110px;
  }
}

.show-sorting.focused {
  opacity: 0;
}

.sorting-options svg {
  vertical-align: middle;
  fill: var(--dark-text-color);
  transition: all 0.125s ease;
  background-color: var(--nav-background);
}

.sorting-options button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 425;
  border: none;
  cursor: pointer;
  color: var(--dark-text-color);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  background-color: var(--nav-background);
}

@media (hover:hover) {
  .sorting-options button:hover, .sorting-options button:hover svg {
    color: var(--hover-color);
    fill: var(--hover-color);
  }

  .show-sorting:hover, .show-sorting:hover svg {
    color: var(--hover-color);
    fill: var(--hover-color);
  }
}

.load-more-div {
  grid-area: load-more;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  padding-bottom: 2rem;
}

.load-more-btn {
  width: auto;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 100vh;
  padding: 5px 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--back);
  background-color: var(--hover-color);
}