/* Main stuff*/
@import url(/public/shared/main.css);
@import url(/public/shared/pop_up_settings/pop_up_settings.css);
@import url(/public/shared/navbar_and_sidebar/navbar_and_sidebar.css);
@import url(/public/shared/footer/footer.css);
@import url(/public/shared/back_to_top_button/back_to_top_button.css);
body {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'navbar'
  'main'
  'footer';
}

main {
  padding: 1rem;
  grid-area: main;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stuff in main */

.login-register-box {
  padding: 1rem;
  margin: 3.5rem 0;
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.image-and-desc  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
  background-color: transparent;
  transform: translateX(15vw);
}

.image-and-desc p {
  font-weight: 400;
  color: var(--dark-text-color);
  font-style: italic;
  text-align: center;
}

.image-and-desc img {
  width: 30vw;
  min-width: 300px;
  height: auto;
}

.login-container, .register-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: var(--gray-between) 0px 1px 5px 0px;
  transition: all 0.5s ease;
}

.login-container {
  transform: translateX(-15vw);
}

.register-container {
  transform: translateX(-100vw);
}

.login-container h1, .register-container h1 {
  color: var(--dark-text-color);
  font-size: 28px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-container form fieldset legend, .register-container form fieldset legend, .login-container form fieldset input, .register-container form fieldset input {
  color: var(--dark-text-color);
}

.register-container form:first-of-type fieldset {
  margin-bottom: 1rem;
}

.login-container form fieldset, .register-container form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.login-container form fieldset legend, .register-container form fieldset legend {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.login-container form fieldset input, .register-container form fieldset input, .school-selection select {
  border: 1px solid var(--dark-text-color);
  border-radius: 100vh;
  padding: 5px 1rem;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-text-color);
  width: 100%;
}

.logo-container form fieldset input[type=radio], .register-container form fieldset input[type=radio] {
  width: auto;
}

.login-container form fieldset input, .register-container form fieldset div {
  margin-bottom: 1rem;
  width: 100%;
}

.register-container form fieldset label {
  font-weight: 400;
  color: var(--dark-text-color);
  cursor: pointer;
}

#artist-form fieldset label {
  line-height: 1.75rem;
}

#error-box, #error-box-interested, #error-box-artist {
  display: none;
  margin: 1rem 0;
  height: auto;
  width: 100%;
  border: 2px solid var(--gmail-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 0, 0, 0.4);
}

#error-box p, #error-box-interested p , #error-box-artist p {
  background-color: rgba(255, 0, 0, 0.01);
  font-size: 16px;
  color: white;
}

#error-box.error {
  display: block;
}

#error-box-interested.error {
  display: block;
}

#error-box-artist.error {
  display: block;
}

.login-button, .register-button, .load-works, .sign-with-gmail {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 100vh;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--back);
}

.login-button:active, .register-button:active {
  transform: scale(1.01);
}

.sign-with-gmail svg {
  height: 100%;
  width: auto;
  margin-right: 0.5rem;
  background-color: var(--back);
  transition: all 0.2s ease;
}

.login-button {
  background-color: var(--hover-color);
}

.register-button {
  background-color: var(--dark-text-color);
}

.sign-with-gmail {
  background-color: var(--back);
  color: var(--dark-text-color);
}

#register-button {
  display: none;
}

.login-register-box:has(>#register-button:checked) {
  margin: 0;
}

#register-button:checked ~ .register-container {
  transform: translateX(-18vw);
}

#register-button:checked ~ .image-and-desc {
  transform: translateX(50vw);
}

#register-button:checked ~ .login-container {
  transform: translateX(100vw);
}

.school-selection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.school-selection select {
  vertical-align: middle;
  background-color: transparent;
  -webkit-appearance: none; /* Remove browser-specific styles (e.g., dropdown arrow styling on Safari) */
  -moz-appearance: none;
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.35em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .image-and-desc {
    display: none;
  }

  .login-container {
    transform: translateX(-26vw);
  }

  #register-button:checked ~ .register-container {
    transform: translateX(23vw);
  }

  .login-container, .register-container {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .login-register-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-container, .register-container {
    width: 70%;
  }

  .register-container {
    transform: translateX(0);
    display: none;
  }

  .login-container {
    transform: translate(0);
  }

  #register-button:checked ~ .register-container {
    transform: translate(0);
    display: flex;
  }
  
  .image-and-desc {
    display: none;
  }
  
  #register-button:checked ~ .login-container {
    transform: translateX(0);
    display: none;
  }
}

@media (max-width: 650px) {
  .login-container, .register-container {
    width: 100%;
  }
}

@media (hover:hover) {
  .login-button:hover {
    background-color: var(--dark-hover-color);
  }

  .register-button:hover {
    background-color: var(--gray);
  }

  .load-works:hover {
    background-color: var(--dark-red);
  }

  .show-and-forgot .sub-text:hover {
    color: var(--hover-color);
  }

  .sign-with-gmail:hover {
    text-decoration: underline;
  }
}

.login-container form fieldset .login-pass {
  margin-bottom: 0.5rem;
}

#pass-toggle, .agree-to-terms {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--dark-text-color);
  font-weight: 400;
}

#pass-toggle label, .agree-to-terms label {
  width: 100%;
}

#pass-toggle input, .agree-to-terms input {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  width: 10%;
  vertical-align: middle;
}

.agree-to-terms input {
  margin-bottom: 0;
}

.agree-to-terms {
  margin-top: 0.5rem;
}

.login-register-buttons {
  display: flex;
  flex-direction: column;
}

.show-and-forgot {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

.show-and-forgot label {
  font-size: 14px;
}


/* Form things in main */

#interested-form, #artist-form {
  display: none;
}

#interested-form.selected, #artist-form.selected {
  display: flex;
  flex-direction: column;
}

#interested-form fieldset div label, #artist-form fieldset div label {
  font-weight: 500;
  font-size: 20px;
}

#interested-form fieldset div input, #artist-form fieldset div input {
  margin-top: 0.5rem;
}

#interested-form fieldset div, #artist-form fieldset div {
  margin-bottom: 1.5rem;
}

.sub-text {
  font-size: 14px;
  color: var(--gray-between);
  font-weight: 400;
  margin-top: 0.25rem;
  transition: all 0.2s ease;
}

.load-works {
  background-color: var(--gmail-color);
  width: 100%;
}

#artist-form fieldset div label a {
  color: var(--hover-color);
  font-weight: 400;
}

#interested-form fieldset #pass-toggle, #artist-form fieldset #pass-toggle {
  margin-top: 0.25rem;
  color: var(--dark-text-color);
  font-size: 16px;
  font-weight: 400;
}

#interested-form fieldset #pass-toggle input, #artist-form fieldset #pass-toggle input  {
  margin: 0;
}

#interested-form fieldset, #artist-form fieldset {
  width: 100%;
}

.login-container #pass-toggle {
  gap: 0.5rem;
  width: 140px;
}