/* Main stuff*/
@import url(/public/shared/main.css);
@import url(/public/shared/pop_up_settings/pop_up_settings.css);
@import url(/public/shared/navbar_and_sidebar/navbar_and_sidebar.css);
@import url(/public/shared/footer/footer.css);
@import url(/public/shared/art_containers_and_stuff_inside/art_containers_and_stuff_inside.css);
@import url(/public/shared/back_to_top_button/back_to_top_button.css);


body {
  grid-template-areas:
  'navbar navbar'
  'sidebar sort'
  'sidebar main'
  'footer footer';
}

body.sidebar-collapsed {
  grid-template-columns: 60px 1fr;
}

/* The sorting bar above main */

.sorting-bar {
  grid-area: sort;
  height: 50px;
  width: auto;
  background-color: var(--back);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.search-bar {
  width: 40px;
  height: 40px;
  border: 2px solid var(--dark-text-color);
  border-radius: 100vh;
  background-color: var(--back);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: 2px;
  overflow: hidden;
  position: relative;
}

.search-bar-input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-text-color);
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 40px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

::placeholder {
  color: var(--place-holder-color);
  opacity: 1;
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--place-holder-color);
}

.search-bar-submit {
  padding: 3px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 100vh;
  margin-left: auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-bar-submit svg {
  vertical-align: middle;
  fill: var(--dark-text-color);
  background-color: transparent;
}

.search-bar:focus-within {
  width: 250px;
  position: fixed;

  .search-bar-submit {
    background-color: var(--light-gray);
  }

  .search-bar-input {
    opacity: 1;
    cursor: initial;
    width: calc(100% - 38px);
    padding-left: 0.5em;
  }

  @media (hover:hover) {
    .search-bar-submit:hover {
      background-color: var(--gray-between);
    }
  }
}

.sorting-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 1em;
  margin-left: auto;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.sorting-options.focused {
  opacity: 0;
}

@media (max-width: 430px) {
  .sorting-options {
    gap: 6px;
  }
}

.sorting-options svg {
  vertical-align: middle;
  fill: var(--dark-text-color);
  transition: all 0.125s ease;
}

.sorting-options button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 425;
  border: none;
  cursor: pointer;
  color: var(--dark-text-color);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

@media (hover:hover) {
  .sorting-options button:hover, .sorting-options button:hover svg {
    color: var(--hover-color);
    fill: var(--hover-color);
  }
}