/* Main stuff*/

:root {
  --sidebar-background: #15154b;
  --nav-background: #FAFAFF;
  --hover-color: #a16ae8;
  --dark-hover-color: #915fd1;
  --back: white;
  --hover-background: #efefef;
  --dark-text-color: #15154b;
  --text-color: white;
  --gray: #737373;
  --gray-between: #acacac;
  --light-gray: #dcdcdc;
  --red: #ff5e4c;
  --dark-red: #c0392b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--back);
}

html, body {
  height: 100%;
  background-color: var(--back);
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5rem;
  color: var(--dark-text-color);
  scroll-behavior: smooth;
}

body {
  z-index: 2;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'navbar'
  'main'
  'footer';
}

header {
  display: flex;
  align-items: center;
  padding: 30px 0px;
  height: 80px;
  width: 100vw;
  background-color: var(--nav-background);
  grid-area: navbar;
  z-index: 4;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  height: 80px;
  flex-grow: 1;
  background-color: var(--nav-background);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--dark-text-color);
  border-bottom: 2px solid var(--dark-text-color);
}

footer {
  z-index: 3;
}


/* The navbar and navbar -> sidebar on the right */

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--nav-background);
  font-size: 20px;
  gap: 30px;
  margin-right: 0.8em;
}

nav a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--dark-text-color);
  transition: all 0.2s ease 0s;
  background-color: var(--nav-background);
}

@media (hover:hover) {
  nav a:hover {
    color: var(--hover-color);
  }
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
  background-color: var(--nav-background);
  padding-bottom: 5px;
}

#sidebar-active {
  display: none;
}

.open-sidebar-btn, .close-sidebar-btn {
  display: none;
  background-color: var(--nav-background);
  fill: var(--dark-text-color);
}

.sidebar-active-nav {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--nav-background);
  border-bottom: 1px solid var(--dark-text-color);
  z-index: 10;
}

.logo-static {
  width: 250px;
  height: auto;
  cursor: pointer;
  margin: auto;
  mix-blend-mode: multiply;
}

.static-a {
  padding: 0;
  background-color: var(--nav-background);
  z-index: 10;
}

.upload-work-button {
  background-color: var(--hover-color);
  width: 45px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
}

.upload-work-button svg {
  fill: var(--text-color);
  vertical-align: middle;
  background-color: var(--hover-color);
  padding: 0;
  transition: transform 0.3s ease, background-color 0.2s ease;
}

.upload-work-button:hover {
  transform: scale(1.1);
  background-color: var(--dark-hover-color);
}

.upload-work-button:hover svg {
  transform: rotate(90deg);
  background-color: var(--dark-hover-color);

}

.upload-work-button {
  background-color: var(--hover-color);
  width: 45px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
}

.upload-work-button svg {
  fill: var(--text-color);
  vertical-align: middle;
  background-color: var(--hover-color);
  padding: 0;
  transition: transform 0.3s ease, background-color 0.2s ease;
}

.upload-work-button:hover {
  transform: scale(1.1);
  background-color: var(--dark-hover-color);
}

.upload-work-button:hover svg {
  transform: rotate(90deg);
  background-color: var(--dark-hover-color);
}

@media (max-width: 1085px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 4;
    width: 300px;
    margin-right: 0;
    background-color: var(--sidebar-background);
    border-left: 2px solid var(--dark-text-color);
    transition: 0.3s ease-in-out;
  }

  .home-link img {
    display: none;
  }

  .home-link::after {
      content: 'Avaleht';
      font-size: 20px;
      font-weight: 500;
  }

  .upload-work-button {
    justify-content: flex-start;
    padding: 23px 15px;
    margin-right: 7.5px;
    width: 298px;
    height: 27px;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--hover-color);
    border-radius: 100vh;
    transition: all 0.2s ease;
  }

  .close-sidebar-btn svg {
    fill: var(--text-color);
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .open-sidebar-btn svg {
    fill: var(--dark-text-color);
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .upload-work-button:hover {
    transform: scale(1);
  }

  .close-sidebar-btn svg, .close-sidebar-btn {
    background-color: var(--sidebar-background);
  }

  nav a {
    background-color: var(--sidebar-background);
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    color: var(--text-color);
  }

  nav .logo {
    width: 250px;
    height: auto;
  }

  nav {
    position: relative;
    height: 60px;
  }

  header {
    height: 60px;
  }

  .sidebar-active-nav {
    display: flex;
    z-index: 4;
  }

  .open-sidebar-btn, .close-sidebar-btn {
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    margin-top: 15px;
  }

  @media (hover:hover) {
    .open-sidebar-btn svg:hover, .close-sidebar-btn svg:hover {
      fill: var(--hover-color);
    }

    .upload-work-button:hover {
      transform: scale(1);
      background-color: transparent;
      color: var(--hover-color);
    }
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
  }
}


.logo {
  cursor: pointer;
  width: 350px;
  height: auto;
  mix-blend-mode: multiply;
}

.bookmark {
  width: 12px;
  height: auto;
  margin-right: 5px;
  margin-bottom: 2px;
}


/* Profile section in the header */

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 8px;
  width: 250px;
  height: 80px;
  background-color: var(--nav-background);
  color: var(--dark-text-color);
  border-right: 2px solid var(--dark-text-color);
  border-bottom: 2px solid var(--dark-text-color);

  @media screen and (max-width: 1210px) {
    display: none;
  }
}

.pfp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  border: 2px solid black;
  border-radius: 25.5px;
  cursor: pointer;
}

.pf-pic {
  width: 47px;
  height: 47px;
  border-radius: 23.5px;
  object-fit: contain;
}

.user-info {
  width: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--nav-background);
}

.name {
  font-size: 16px;
  background-color: var(--nav-background);
}

.status {
  background-color: var(--nav-background);
  font-size: 12px;
  color: var(--gray);
}


/* Stuff in main */

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: 1;
}

.sub-navbar {
  background-color: var(--nav-background);
  width: 90%;
  margin-top: 1rem;
  padding: 0.5rem;
  position: sticky;
  top: 1vh;
  z-index: 3;
  display: flex;
  justify-content: space-evenly;
  border: none;
  border-radius: 100vh;
  box-shadow: 1px 2px 4px var(--gray-between);
  transition: all 0.2s ease;

  @media (max-width: 350px) {
    width: 100%;
    border-radius: 0;
    top: 0;
    margin-top: 0;
    justify-content: space-between;
  }
}

.sub-navbar a {
  text-decoration: none;
  color: var(--dark-text-color);
  background-color: transparent;
  font-size: 20px;
  transition: all 0.2s ease;

  @media (max-width: 670px) {
    font-size: 15px;
  }
}

.sub-navbar hr {
  border: none;
  width: 1.5px;
  background-color: var(--dark-text-color);
  border-radius: 100vh;
  opacity: 0.5;
}

@media (hover:hover) {
  .sub-navbar a:hover {
    color: var(--hover-color);
  }
} 

.noortekunst-intro {
  height: 85vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.noortekunst-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-background);
  border: none;
  border-radius: 3rem;
  box-shadow: 1px 2px 4px var(--gray-between);
  padding: 1rem;
  width: 80%;
  height: 50%;
}

.noortekunst-box p {
  font-size: 24px;
  color: var(--dark-text-color);
}

.noortekunst-intro-logo {
  width: 70%;
  min-width: 250px;
  height: auto;
  mix-blend-mode: multiply;
}

.noortekunst-box p {
  text-align: center;
  background-color: transparent;
  transition: all 0.2s ease;

  @media (max-width: 670px) {
    font-size: 15px;
  } 
}

.news, .about, .team {
  width: 100%;
  background-color: var(--sidebar-background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 2rem;
  z-index: 2;
  margin-bottom: 3rem;
}

.news h2, .news h3, .news p {
  background-color: var(--sidebar-background);
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  font-weight: 475;
}

.news-container p, .about-container p, .about-container li, .team p {
  font-size: 18px;
  font-weight: 400;
}

.news-content, .about-content, .team-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--sidebar-background);
}

.news-container, .about-container, .team-container {
  background-color: var(--sidebar-background);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @media (max-width: 670px) {
    grid-template-columns: 1fr;
  }
}

.about {
  background-color: var(--hover-color);
  color: var(--text-color);
  align-items: flex-end;
}

.about h2, .about h3, .about p, .about li, .about ul {
  background-color: var(--hover-color);
}

.about-content {
  background-color: var(--hover-color);
}

.about-container {
  background-color: var(--hover-color);
}

.about-container li {
  margin-bottom: 1rem;
}

.team {
  background-color: var(--back);
  color: var(--dark-text-color);
  align-items: center;
  gap: 65px;
}

.team h2, .team h3, .team p, .team li, .team ul {
  background-color: var(--back);
}

.team-content {
  background-color: var(--back);
  text-align: center;
  gap: 15px;
}

.team-container {
  background-color: var(--back);
}


/* Footer stuff */

.footer {
  width: 100vw;
  display: flex;
  height: 150px;
  flex-direction: column;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(136, 136, 136) 0%, rgba(220,220,220,1) 30%); 
  grid-area: footer;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--dark-text-color);
  z-index: 3;
}

.socials-container {
  display: flex;
  gap: 45px;
  background-color: transparent;
  align-items: center;
  height: 40%;
  border-bottom: 2px solid black;
}

.socials-container a svg, .socials-container p svg {
  height: 32px;
  width: 32px;
  margin-right: 10px;
  background-color: transparent;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.socials-container a {
  cursor: pointer;
}

.socials-container a, .socials-container p {
  background-color: transparent;
  color: black;
  transition: all 0.3s ease;
}

.logo-container {
  height: 40%;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.logo-container a {
  background-color: transparent;
}

.dark-logo-footer {
  width: 250px;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
  mix-blend-mode: multiply;
}

@media (hover:hover) {
  .dark-logo-footer:hover {
    transform: scale(1.1);
  }

  .socials-container a:hover, .socials-container p:hover {
    transform: scale(1.1);

    .insta-icon {
      fill: #FB7833;
      transform: scale(1.1);
    }

    .tiktok-icon {
      fill: #69C9D0;
      transform: scale(1.1);
    }

    .gmail-icon {
      fill: #EA4335;
      transform: scale(1.1);
    }
  }
}


/* Back to top button */

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 2px 4px var(--gray-between);
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 4;
}

.back-to-top svg{
  fill: var(--dark-text-color);
  transition: all 0.3s ease;
}

@media (hover:hover) {
  .back-to-top:hover {
    transform: scale(1.1);
  }

  .back-to-top:hover svg {
    fill: var(--hover-color);
    transform: translateY(-2px);
  }
}