/* Main stuff*/
@import url(/public/shared/main.css);
@import url(/public/shared/pop_up_settings/pop_up_settings.css);
@import url(/public/shared/navbar_and_sidebar/navbar_and_sidebar.css);
@import url(/public/shared/footer/footer.css);
@import url(/public/shared/back_to_top_button/back_to_top_button.css);

body {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'navbar'
  'main'
  'footer';
}

main {
  padding: 1rem;
  grid-area: main;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stuff in main */

.pass-container {
  background-color: var(--back);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  box-shadow: var(--gray-between) 0px 1px 5px 0px;
  border-radius: 20px;
  transition: all 0.2s ease;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--back);
  gap: 1rem;
}

h1 {
  margin: 0 auto;
  margin-bottom: 2.5rem;
  font-size: 28px;
  color: var(--dark-text-color);
}

input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: none;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: var(--hover-color);
  color: var(--back);
  padding: 5px 1rem;
  cursor: pointer;
  border-radius: 100vh;
  transition: all 0.2s ease;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-bottom: 2px;
}

#pass-toggle {
  margin-top: 0.25rem;
  color: var(--dark-text-color);
  font-size: 16px;
  font-weight: 400;
}

.pass {
  border: 1px solid var(--dark-text-color);
  border-radius: 100vh;
  padding: 5px 1rem;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-text-color);
  width: 100%;
  margin: 0.5rem 0;
  margin-left: 0;
}

.sub-text {
  font-size: 14px;
  color: var(--gray-between);
  font-weight: 400;
  margin-top: 0.25rem;
  transition: all 0.2s ease;
}

@media (hover:hover) {
  input[type="submit"]:hover {
    background-color: var(--dark-hover-color);
  }
}

@media (max-width: 950px) {
  .pass-container {
    width: 90%;
  }
}