/* Main stuff*/
@import url(/public/shared/main.css);
@import url(/public/shared/pop_up_settings/pop_up_settings.css);
@import url(/public/shared/navbar_and_sidebar/navbar_and_sidebar.css);
@import url(/public/shared/footer/footer.css);
@import url(/public/shared/art_containers_and_stuff_inside/art_containers_and_stuff_inside.css);
@import url(/public/shared/back_to_top_button/back_to_top_button.css);

body {
  grid-template-areas:
  'navbar navbar'
  'sidebar sort'
  'sidebar fav-tag'
  'sidebar main'
  'footer footer';
}

body.sidebar-collapsed {
  grid-template-columns: 60px 1fr;
}


/* My works */

.my-works {
  font-size: 28px;
  grid-area: fav-tag;
  padding: 1rem;
  padding-bottom: 0.5rem;
  background-color: var(--back);
  color: var(--dark-text-color);
}


/* Art containers and stuff inside it */

.delete-work-button {
  background-color: var(--gmail-color);
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 33px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.yes-delete, .no-delete {
  width: 50%;
  border-radius: 100vh;
  border: none;
  padding: 5px;
  transition: all 0.2s ease;
}

.yes-delete {
  background-color: var(--gmail-color);
}

.no-delete {
  background-color: var(--hover-color);
}

.delete-work-button svg {
  fill: var(--back);
  background-color: var(--gmail-color);
  vertical-align: middle;
  width: 22px;
  transition: all 0.2s ease;
}

.price-and-like {
  gap: 20px;
}

.art-pic {
  width: 280px;
  height: 280px;
  object-fit: contain;
  background-color: var(--black);
  cursor: pointer;
}

.invisible {
  opacity: 0;
  transition: opacity 0.5s, transform 0.3s ease;
}

.visible {
  opacity: 1;
}

@media (hover:hover) {
  .amount-of-likes:hover svg, .amount-of-likes:hover{
    fill: var(--hover-color);
    color: var(--hover-color);
  }

  .delete-work-button:hover, .delete-work-button:hover svg {
    background-color: var(--dark-red);
  }

  .yes-delete:hover {
    background-color: var(--dark-red);
  }

  .no-delete:hover {
    background-color: var(--dark-hover-color);
  }
}