/* Main stuff*/
@import url(/public/shared/main.css);
@import url(/public/shared/pop_up_settings/pop_up_settings.css);
@import url(/public/shared/navbar_and_sidebar/navbar_and_sidebar.css);
@import url(/public/shared/footer/footer.css);
@import url(/public/shared/art_containers_and_stuff_inside/art_containers_and_stuff_inside.css);
@import url(/public/shared/back_to_top_button/back_to_top_button.css);
body {
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'navbar navbar'
  'sidebar sort'
  'sidebar fav-tag'
  'sidebar main'
  'footer footer';
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
}

/* My works */

.my-works {
  font-size: 28px;
  grid-area: fav-tag;
  padding: 1rem;
  padding-bottom: 0.5rem;
  background-color: var(--back);
  color: var(--dark-text-color);
}


/* Pop up settings */

.settings-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease;
  padding: 20px;
  border-radius: 20px;
  z-index: 10;
  background-color: var(--back);
  box-shadow: var(--gray-between) 0px 1px 5px 0px;
  width: 500px;
  max-width: 80%;
}

.settings-modal.settings-active {
  transform: translate(-50%, -50%) scale(1);
}

.settings-modal hr {
  margin-bottom: 20px;
  border: 1px solid var(--gray-between);
  border-radius: 100vh;
}

.settings-title {
  font-size: 20px;
  color: var(--dark-text-color);
}

.settings-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.settings-modal-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-modal-main.delete-confirmation {
  flex-direction: row;
  justify-content: center;
}

.settings-modal-main label {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-text-color);
}

.settings-modal-main input:first-of-type {
  margin-left: 1rem;
}

.settings-modal-main button {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-text-color);
  cursor: pointer;
}

.settings-modal-main.delete-confirmation button {
  color: var(--back);
}

.settings-modal-header .close-settings-button {
  border: none;
  background-color: var(--back);
  cursor: pointer;
  outline: none;
}

.settings-modal-header .close-settings-button svg {
  fill: var(--dark-text-color);
  vertical-align: middle;
  margin-bottom: 3.5px;
  transition: all 0.2s ease;
}

.settings-modal-main a {
  text-decoration: none;
  color: var(--dark-text-color);
  transition: all 0.2s ease;
}

.light-mode-hover, .profile-hover {
  transition: all 0.2s ease;
}

.light-mode-hover {
  border: none;
  border-radius: 100vh;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

.settings-modal-main div {
  display: flex;
  gap: 10px;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

.settings-modal-main div label {
  transition: all 0.2s ease;
  cursor: pointer;
}

#settings-overlay {
  z-index: 9;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: all 0.2s ease;
}

#settings-overlay.settings-active {
  pointer-events: all;
  opacity: 1;
}

@media (hover:hover) {
  .settings-modal-header .close-settings-button:hover {
    svg {
      fill: var(--hover-color);
    }
  }

  .profile-hover:hover {
    color: var(--hover-color);
  }
  
  .light-mode-hover:hover svg {
    fill: var(--hover-color);
  }

  .settings-modal-main div label:hover {
    color: var(--hover-color);
  }
}

.icon-in-settings {
  vertical-align: middle;
  fill: var(--dark-text-color);
  margin-bottom: 3.5px;
  margin-right: 7px;
}

#theme-switch svg {
  margin-bottom: 0;
  margin-right: 10.5px;
  transition: all 0.2s ease;
}

.language {
  cursor: default;
  color: var(--dark-text-color);
}


/* Art containers and stuff inside it */

.delete-work-button {
  background-color: var(--gmail-color);
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 33px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.yes-delete, .no-delete {
  width: 50%;
  border-radius: 100vh;
  border: none;
  padding: 5px;
  transition: all 0.2s ease;
}

.yes-delete {
  background-color: var(--gmail-color);
}

.no-delete {
  background-color: var(--hover-color);
}

.delete-work-button svg {
  fill: var(--back);
  background-color: var(--gmail-color);
  vertical-align: middle;
  width: 22px;
  transition: all 0.2s ease;
}

.art-pic {
  width: 280px;
  height: 280px;
  object-fit: contain;
  background-color: var(--black);
  cursor: pointer;
}

.invisible {
  opacity: 0;
  transition: opacity 0.5s, transform 0.3s ease;
}

.visible {
  opacity: 1;
}

@media (hover:hover) {
  .amount-of-likes:hover svg, .amount-of-likes:hover{
    fill: var(--hover-color);
    color: var(--hover-color);
  }

  .delete-work-button:hover, .delete-work-button:hover svg {
    background-color: var(--dark-red);
  }

  .yes-delete:hover {
    background-color: var(--dark-red);
  }

  .no-delete:hover {
    background-color: var(--dark-hover-color);
  }
}


/* The sorting bar above main */

.sorting-bar {
  grid-area: sort;
  height: 50px;
  width: auto;
  background-color: var(--back);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.search-bar {
  width: 40px;
  height: 40px;
  border: 2px solid var(--dark-text-color);
  border-radius: 100vh;
  background-color: var(--back);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding: 2px;
  overflow: hidden;
  position: relative;
}

.search-bar-input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-text-color);
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 40px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

::placeholder {
  color: var(--place-holder-color);
  opacity: 1;
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--place-holder-color);
}

.search-bar-submit {
  padding: 3px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 100vh;
  margin-left: auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-bar-submit svg {
  vertical-align: middle;
  fill: var(--dark-text-color);
  background-color: transparent;
}

.search-bar:focus-within {
  width: 250px;
  position: fixed;

  .search-bar-submit {
    background-color: var(--light-gray);
  }

  .search-bar-input {
    opacity: 1;
    cursor: initial;
    width: calc(100% - 38px);
    padding-left: 0.5em;
  }

  @media (hover:hover) {
    .search-bar-submit:hover {
      background-color: var(--gray-between);
    }
  }
}

.sorting-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 1em;
  margin-left: auto;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.sorting-options.focused {
  opacity: 0;
}

@media (max-width: 430px) {
  .sorting-options {
    gap: 6px;
  }
}

.sorting-options svg {
  vertical-align: middle;
  fill: var(--dark-text-color);
  transition: all 0.125s ease;
}

.sorting-options button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 425;
  border: none;
  cursor: pointer;
  color: var(--dark-text-color);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

@media (hover:hover) {
  .sorting-options button:hover, .sorting-options button:hover svg {
    color: var(--hover-color);
    fill: var(--hover-color);
  }
}