/* Main stuff*/
/* Main stuff*/
@import url(/public/shared/main.css);
@import url(/public/shared/pop_up_settings/pop_up_settings.css);
@import url(/public/shared/navbar_and_sidebar/navbar_and_sidebar.css);
@import url(/public/shared/footer/footer.css);
@import url(/public/shared/art_containers_and_stuff_inside/art_containers_and_stuff_inside.css);
@import url(/public/shared/back_to_top_button/back_to_top_button.css);

body {
  grid-template-columns: 1fr;
  grid-template-areas:
  'navbar'
  'main'
  'footer';
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stuff in main */

.help-container {
  background-color: var(--back);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
  gap: 1.5rem;
}

h1 {
  margin-bottom: 1rem;
  color: var(--dark-text-color);
  font-size: 28px;
}

h2 {
  color: var(--dark-text-color);
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 3rem;
}

.question h2 {
  margin-bottom: 0.75rem;
  margin-top: 0;
}

.question-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.question {
  border: none;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--gray-between) 0px 1px 5px 0px;
}

legend {
  color: var(--dark-text-color);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main p {
  color: var(--dark-text-color);
  font-weight: 400;
  line-height: normal;
}

main input, .sub-button, textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 2px solid var(--dark-text-color);
  border-radius: 100vh;
  padding: 5px 1rem;
  background-color: transparent;
  outline: none;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
  width: 50%;
}

textarea {
  padding: 10px 1rem;
  margin-top: 1rem;
  height: 150px;
  width: 500px;
  border-radius: 1rem;
  border: 2px solid var(--dark-text-color);
}

.sub-button {
  border: none;
  color: var(--text-color);
  padding: 7px 1rem;
  background-color: var(--hover-color);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 0;
  width: 30%;
  font-weight: 500;
}

@media (hover:hover) {
  .sub-button:hover {
    background-color: var(--dark-hover-color);
  }
}

@media (max-width: 1060px) {
  .help-container {
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
  }

  .question-container {
    grid-template-columns: 1fr;
  }

  textarea {
    width: 350px;
  }

  h1, h2 {
    text-align: left;
  }

  .sub-button, main input {
    margin-left: 0;
  }

  .sub-button {
    width: 40%;
  }

  main input {
    width: 70%;
  }

  main div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  main label {
    margin-bottom: 0.5rem;
  }
}