/* Main stuff*/
@import url(/public/shared/main.css);
@import url(/public/shared/pop_up_settings/pop_up_settings.css);
@import url(/public/shared/navbar_and_sidebar/navbar_and_sidebar.css);
@import url(/public/shared/footer/footer.css);
@import url(/public/shared/art_containers_and_stuff_inside/art_containers_and_stuff_inside.css);
@import url(/public/shared/back_to_top_button/back_to_top_button.css);

body {
  grid-template-areas:
  'navbar navbar'
  'sidebar sort'
  'sidebar fav-tag'
  'sidebar main'
  'sidebar load-more'
  'footer footer';
  grid-template-rows: auto auto auto 1fr auto auto;
}

body.sidebar-collapsed {
  grid-template-columns: 60px 1fr;
}

/* Fav-tag */

.fav-tag {
  font-size: 28px;
  grid-area: fav-tag;
  padding: 1rem;
  padding-bottom: 0.5rem;
  background-color: var(--back);
  color: var(--dark-text-color);
}

.fav-tag svg {
  fill: var(--dark-text-color);
  vertical-align: middle;
  margin-bottom: 3.5px;
}