/* Main stuff*/

:root {
  --sidebar-background: #15154b;
  --sidebar-border: #15154b;
  --nav-background: #FAFAFF;
  --hover-color: #a16ae8;
  --dark-hover-color: #915fd1;
  --back: white;
  --hover-background: #efefef;
  --dark-text-color: #15154b;
  --text-color: white;
  --gray: #737373;
  --gray-between: #acacac;
  --light-gray: #dcdcdc;
  --insta-color: #FB7833;
  --tiktok-color: #69C9D0;
  --gmail-color: #EA4335;
  --dark-red: #cf3a2d;
  --black: black;
  --place-holder-color: #737373;
  --nav-border: #15154b;
  --footer-background: #dcdcdc;
  --sidebar-while-opened: #15154b;
}

.darkmode {
  --sidebar-background: #1F1B24;
  --sidebar-border: #121212;
  --nav-background: #1F1B24;
  --hover-color: #BB86FC;
  --dark-hover-color: #ae6cff;
  --back: #121212;
  --hover-background: #efefef;
  --dark-text-color: #FFFFFF;
  --text-color: #FFFFFF;
  --gray: #dcdcdc;
  --gray-between: #cea7ff;
  --light-gray: #1F1B24;
  --insta-color: #FB7833;
  --tiktok-color: #69C9D0;
  --gmail-color: #EA4335;
  --dark-red: #cf3a2d;
  --black: black;
  --nav-border: #1F1B24;
  --footer-background: black;
  --sidebar-while-opened: #121212;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--back);
  -webkit-tap-highlight-color: transparent;
}

.css-transitions-only-after-page-load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
   transition: none !important;
}

html, body {
  height: 100%;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5rem;
  color: var(--dark-text-color);
  scroll-behavior: smooth;
  background-color: var(--nav-background);
}

body {
  background-color: var(--nav-background);
  z-index: 2;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'navbar'
  'main'
  'footer';
}

header {
  display: flex;
  align-items: center;
  padding: 30px 0px;
  height: 80px;
  width: 100vw;
  background-color: var(--nav-background);
  grid-area: navbar;
}

nav {
  height: 80px;
  flex-grow: 1;
  background-color: var(--nav-background);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--dark-text-color);
  border-bottom: 2px solid var(--nav-border);
}

main {
  padding: 1rem;
  grid-area: main;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
}


/* The navbar and navbar -> sidebar on the right */

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--nav-background);
  font-size: 20px;
  gap: 30px;
  margin-right: 0.8em;
}

nav a, nav p {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--dark-text-color);
  transition: all 0.2s ease 0s;
  background-color: var(--nav-background);
}

nav p {
  cursor: pointer;
}

@media (hover:hover) {
  nav a:hover, nav p:hover {
    color: var(--hover-color);
  }
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
  background-color: var(--nav-background);
  padding-bottom: 5px;
}

#sidebar-active {
  display: none;
}

.open-sidebar-btn, .close-sidebar-btn {
  display: none;
  background-color: var(--nav-background);
  fill: var(--dark-text-color);
}

.sidebar-active-nav {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--nav-background);
  border-bottom: 1px solid var(--nav-border);
  z-index: 10;
}

.logo-static {
  width: 250px;
  height: auto;
  cursor: pointer;
  margin: auto;
  background-color: transparent;
  mix-blend-mode: multiply;
}

.static-a {
  padding: 0;
  background-color: transparent;
  z-index: 10;
}

.upload-work-button {
  background-color: var(--hover-color);
  width: 45px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
}

.upload-work-button svg {
  fill: var(--text-color);
  vertical-align: middle;
  background-color: var(--hover-color);
  padding: 0;
  transition: transform 0.3s ease, background-color 0.2s ease;
}

.upload-work-button:hover {
  transform: scale(1.1);
  background-color: var(--dark-hover-color);
}

.upload-work-button:hover svg {
  transform: rotate(90deg);
  background-color: var(--dark-hover-color);

}

.upload-work-button {
  background-color: var(--hover-color);
  width: 45px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
}

.upload-work-button svg {
  fill: var(--text-color);
  vertical-align: middle;
  background-color: var(--hover-color);
  padding: 0;
  transition: transform 0.3s ease, background-color 0.2s ease;
}

.upload-work-button:hover {
  transform: scale(1.1);
  background-color: var(--dark-hover-color);
}

.upload-work-button:hover svg {
  transform: rotate(90deg);
  background-color: var(--dark-hover-color);
}

.bookmark {
  margin-bottom: 0;
}

.bookmark svg {
  vertical-align: middle;
  fill: var(--dark-text-color);
  margin-top: 5px;
}

@media (max-width: 1085px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 4;
    width: 300px;
    margin-right: 0;
    background-color: var(--sidebar-background);
    border-left: 2px solid var(--sidebar-while-opened);
    transition: 0.3s ease-in-out;
  }

  .bookmark svg {
    fill: var(--text-color);
    background-color: var(--sidebar-background);
  }

  .home-link img {
    display: none;
  }

  .home-link::after {
      content: 'Avaleht';
      font-size: 20px;
      font-weight: 500;
  }

  .upload-work-button {
    justify-content: flex-start;
    padding: 23px 15px;
    margin-right: 7.5px;
    width: 298px;
    height: 27px;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--hover-color);
    border-radius: 100vh;
    transition: all 0.2s ease;
  }

  .close-sidebar-btn svg {
    fill: var(--text-color);
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .open-sidebar-btn svg {
    fill: var(--dark-text-color);
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .upload-work-button:hover {
    transform: scale(1);
  }

  .close-sidebar-btn svg, .close-sidebar-btn {
    background-color: var(--sidebar-background);
  }

  nav a, nav p {
    background-color: var(--sidebar-background);
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    color: var(--text-color);
  }

  nav .logo {
    width: 250px;
    height: auto;
  }

  nav {
    position: relative;
    height: 60px;
  }

  header {
    height: 60px;
  }

  .sidebar-active-nav {
    display: flex;
    z-index: 4;
  }

  .open-sidebar-btn, .close-sidebar-btn {
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    margin-top: 15px;
  }

  @media (hover:hover) {
    .open-sidebar-btn svg:hover, .close-sidebar-btn svg:hover {
      fill: var(--hover-color);
    }

    .upload-work-button:hover {
      transform: scale(1);
      background-color: transparent;
      color: var(--hover-color);
    }
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
  }
}


.logo {
  cursor: pointer;
  width: 350px;
  height: auto;
}


/* Profile section in the header */

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 8px;
  width: 250px;
  height: 80px;
  background-color: var(--nav-background);
  color: var(--dark-text-color);
  border-right: 2px solid var(--nav-border);
  border-bottom: 2px solid var(--nav-border);
}

.pfp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  border: 2px solid var(--black);
  border-radius: 25.5px;
  cursor: pointer;
}

.pf-pic {
  width: 47px;
  height: 47px;
  border-radius: 23.5px;
  object-fit: contain;
}

.user-info {
  width: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--nav-background);
}

.name {
  font-size: 16px;
  background-color: var(--nav-background);
}

.status {
  background-color: var(--nav-background);
  font-size: 12px;
  color: var(--gray);
}

@media (max-width: 1215px) {
  .name, .status {
    display: none;
  }

  .profile {
    width: 60px;
    gap: 0;
    border-right: none;
  }
}

@media (max-width: 1085px) {
  .profile {
    height: 60px;
    border-right: none;
  }
}


/* Stuff in main */

.acc-container {
  background-color: var(--back);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
  gap: 1.5rem;
}

h1 {
  margin-bottom: 2.5rem;
  color: var(--dark-text-color);
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--dark-text-color);
}

.person-card {
  display: flex;
  flex-direction: column;
}

.person-card img {
  width: 100px;
  height: 100px;
  border-radius: 100vh;
  margin-bottom: 1rem;
  object-fit: cover;
}

main p, main label {
  color: var(--dark-text-color);
  font-weight: 400;
  margin-bottom: 1rem;
}

.change-something {
  cursor: pointer;
  color: var(--dark-text-color);
  border: 2px solid var(--hover-color);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 1rem;
  margin-bottom: 0;
  border-radius: 100vh;
  background-color: transparent;
  transition: all 0.2s ease;
}

.btn {
  margin-top: 0.5rem;
}

legend {
  color: var(--dark-text-color);
}

#input-file {
  display: none;
}

input, .sub-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 2px solid var(--dark-text-color);
  border-radius: 100vh;
  padding: 5px 1rem;
  background-color: transparent;
  outline: none;
}

.sub-button {
  border: none;
  color: var(--text-color);
  padding: 7px 1rem;
  background-color: var(--hover-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.password-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.password-sec h2 {
  margin-bottom: 0.8rem;
}

main hr {
  width: 100%;
  border: 1px solid var(--gray-between);
  border-radius: 100vh;
}

@media (hover:hover) {
  .sub-button:hover {
    background-color: var(--dark-hover-color);
  }

  .change-something:hover {
    border-color: var(--dark-hover-color);
    background-color: var(--light-gray);
  }
}

@media (max-width: 1060px) {
  .acc-container {
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
  }

  .person-card {
    align-items: flex-start;
  }

  h1, h2 {
    text-align: left;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .password-sec h2 {
    margin-bottom: 1.5rem;
  }

  .sub-button, .change-something, input {
    margin: 0.5rem;
  }

  main div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .password-sec {
    align-items: flex-start;
    gap: 0.5rem;
  }

  main label {
    margin-bottom: 0.5rem;
  }

  #password, #psw-new {
    margin-bottom: 0;
  }

  .change-something, input, .sub-button {
    margin-left: 0;
  }
}

/* Footer stuff */

.footer {
  width: 100vw;
  display: flex;
  height: 150px;
  flex-direction: column;
  background-color: var(--dark-text-color);
  background: var(--footer-background); 
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--nav-border);
}

.socials-container {
  display: flex;
  gap: 45px;
  background-color: transparent;
  align-items: center;
  height: 40%;
  border-bottom: 2px solid var(--gray-between);
}

.socials-container a svg, .socials-container p svg {
  height: 32px;
  width: 32px;
  margin-right: 10px;
  background-color: transparent;
  vertical-align: middle;
  transition: all 0.3s ease;
  fill: var(--dark-text-color);
}

.socials-container a {
  cursor: pointer;
}

.socials-container a, .socials-container p {
  background-color: transparent;
  color: var(--dark-text-color);
  transition: all 0.3s ease;
}

.logo-container {
  height: 40%;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.logo-container p {
  background-color: transparent;
}

.dark-logo-footer {
  width: 250px;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

@media (hover:hover) {
  .dark-logo-footer:hover {
    transform: scale(1.1);
  }

  .socials-container a:hover, .socials-container p:hover {
    transform: scale(1.1);

    .insta-icon {
      fill: var(--insta-color);
      transform: scale(1.1);
    }

    .tiktok-icon {
      fill: var(--tiktok-color);
      transform: scale(1.1);
    }

    .gmail-icon {
      fill: var(--gmail-color);
      transform: scale(1.1);
    }
  }
}


/* Pop up settings */

.settings-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease;
  padding: 20px;
  border-radius: 20px;
  z-index: 10;
  background-color: var(--back);
  box-shadow: var(--gray-between) 0px 1px 5px 0px;
  width: 500px;
  max-width: 80%;
}

.settings-modal.settings-active {
  transform: translate(-50%, -50%) scale(1);
}

.settings-modal hr {
  margin-bottom: 20px;
  border: 1px solid var(--gray-between);
  border-radius: 100vh;
}

.settings-title {
  font-size: 20px;
  color: var(--dark-text-color);
}

.settings-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.settings-modal-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-modal-main label {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-text-color);
}

.settings-modal-main input:first-of-type {
  margin-left: 1rem;
}

.settings-modal-main button {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-text-color);
  cursor: pointer;
}

.settings-modal-header .close-settings-button {
  border: none;
  background-color: var(--back);
  cursor: pointer;
  outline: none;
}

.settings-modal-header .close-settings-button svg {
  fill: var(--dark-text-color);
  vertical-align: middle;
  margin-bottom: 3.5px;
  transition: all 0.2s ease;
}

.settings-modal-main a {
  text-decoration: none;
  color: var(--dark-text-color);
  transition: all 0.2s ease;
}

.light-mode-hover, .profile-hover {
  transition: all 0.2s ease;
}

.light-mode-hover {
  border: none;
  border-radius: 100vh;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

.settings-modal-main div {
  display: flex;
  gap: 10px;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

.settings-modal-main div label {
  transition: all 0.2s ease;
  cursor: pointer;
}

#settings-overlay {
  z-index: 9;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: all 0.2s ease;
}

#settings-overlay.settings-active {
  pointer-events: all;
  opacity: 1;
}

@media (hover:hover) {
  .settings-modal-header .close-settings-button:hover {
    svg {
      fill: var(--hover-color);
    }
  }

  .profile-hover:hover {
    color: var(--hover-color);
  }
  
  .light-mode-hover:hover svg {
    fill: var(--hover-color);
  }

  .settings-modal-main div label:hover {
    color: var(--hover-color);
  }
}

.icon-in-settings {
  vertical-align: middle;
  fill: var(--dark-text-color);
  margin-bottom: 3.5px;
  margin-right: 7px;
}

#theme-switch svg {
  margin-bottom: 0;
  margin-right: 10.5px;
  transition: all 0.2s ease;
}

.language {
  cursor: default;
  color: var(--dark-text-color);
}


/* Back to top button */

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 2px 4px var(--gray-between);
  transition: all 0.3s ease;
  cursor: pointer;
}

.back-to-top svg{
  fill: var(--dark-text-color);
  transition: all 0.3s ease;
}

@media (hover:hover) {
  .back-to-top:hover {
    transform: scale(1.1);
  }

  .back-to-top:hover svg {
    fill: var(--hover-color);
    transform: translateY(-2px);
  }
}